<!-- Default form login -->


  <div class="container text-center mt-5 mb-5 wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
  <div [ngSwitch]="case">
    <div *ngSwitchCase="'screen1'">
        <!-- Email verifcation -->
      <p class="h4 mb-4">Forgot password</p>
      <mat-form-field class="inputsize" appearance="outline">
        <mat-label>Enter your register gmail</mat-label>
        <input class="inputtag" name="usergmail" type="gmail" [(ngModel)]="usergmail" matInput placeholder="abc12@gmail.com" required [formControl]="gmail">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="gmail.invalid">{{getErrorMessagegmail()}}</mat-error>
      </mat-form-field>
      <div class="infinite wow pulse"><button [disabled]="gmail.invalid" (click)="sendotp()" mat-raised-button color="primary" ><mat-icon>person</mat-icon>Send opt</button></div>
    </div>

    <div *ngSwitchCase="'screen2'">
      <!-- otp  verifcation -->
      <p class="h4 mb-4">Forgot password</p>
        <mat-form-field class="inputsize" appearance="outline">
          <mat-label>Enter opt send in your gmail</mat-label>
          <input name="usergotp" type="number" [(ngModel)]="userotp" matInput required [formControl]="otp" >
          <mat-icon matSuffix>fiber_pin</mat-icon>
          <mat-error *ngIf="gmail.invalid">{{getErrorMessageotp()}}</mat-error>
        </mat-form-field>
        <div class="d-flex justify-content-around">
            <div class="infinite wow pulse"><button [disabled]="otp.invalid" (click)="verify()" mat-raised-button color="primary" ><mat-icon>done_all</mat-icon>Verify</button></div>
        </div>
    </div>
    <div *ngSwitchCase="'screen3'">
      <!-- change password -->
      <p class="h4 mb-4">Forgot password</p>
      <mat-form-field class="inputsize" appearance="outline">
        <mat-label>Enter your new password</mat-label>
        <input name="userpassword"  [(ngModel)]="userpassword" matInput [type]="hide ? 'password' : 'text'" required [formControl]="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">{{getErrorMessagepassword()}}</mat-error>
      </mat-form-field>
      <div class="infinite wow pulse"><button type="button" [disabled]=" password.invalid" (click)="changepassword()" mat-raised-button color="primary" ><mat-icon>lock</mat-icon>change password</button></div>
    </div>

    <div *ngSwitchDefault>
      <h1>Some Wents Wrong </h1>
      <div class="infinite wow pulse"><button type="button" (click)="goback()" mat-raised-button color="primary" ><mat-icon>arrow_back</mat-icon>Go Back</button></div>
    </div>
  </div>
  </div>




