<div class="container py-3 bg-light " *ngIf="response">
  <h2 class="bold pl-3 pt-2"> My Order</h2>
  <hr class="hline">

  <div class="accordion" id="accordionExample">

    <div class="card">

      <div class="card-header" id="heading1" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
        <h2 class="mb-0">
            Amit kumar <span class="float-right">⏬</span>
        </h2>
      </div>

      <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample">
        <div class="container pt-3">
          <p class="text-info pl-2">Order id :- 98274987592365</p>
          <div class="row">
            <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2">
              <img class="py-2 mx-3" src="../../../assets/image/product-image.jpg" width="120px" height="150px"/>
            </div>
            <div class="col-7 col-sm-8 col-md-9 col-lg-10 col-xl-10">
              <div class="row">
                <div class="col">
                  <h3 class=" line">Product name Amit kumar</h3>
                  <p class="text-secondary line">Product short description Amit kumar</p>
                  <p class="line">Rs:1000 X 5</p>
                  <p class="line"> = Rs. 1000</p>
                  <button class="btn btn-primary btn-sm float-right mb-3 detailbtn"  data-toggle="modal" data-target="#orderstatus"> Detail</button>
                </div>
                <div class="col orderdetail">
                  <h3 class="line">Status:- Delivery</h3>
                  <p class="text-secondary line">Delivery Date:-12/12/2020</p>
                  <h3 class="line">Delivery Address</h3>
                  <p class="text-secondary line">Silwar,hazaribagh,jharkhand</p>
                  <p>Payment mode:- cash</p>
                </div>
              </div>

            </div>
          </div>

          <div class="modal fade" id="orderstatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header1 modal_header_custom">
                  <button type="button" class="close close_custom" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h2 class="modal-title text-center text-primary mt-2 underline">Order Details</h2>
                </div>
                <div class="modal-body" >
                  <h3 class="line">Status:- Delivery</h3>
                  <p class="text-secondary line">Delivery Date:-12/12/2020</p>
                  <h3 class="line">Delivery Address</h3>
                  <p class="text-secondary line">Silwar.hazaribagh,jharkhand</p>
                  <p>Payment mode:- cash</p>
                </div>
              </div>
            </div>
          </div>

          <hr class="hline">
        </div>
      </div>
    </div>

    <div class="card">

      <div class="card-header" id="heading2" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
        <h2 class="mb-0">
            Amit kumar2<span class="float-right">⏬</span>
        </h2>
      </div>

      <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>

    </div>

    <div class="card">

      <div class="card-header" id="heading3" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
        <h2 class="mb-0">
            Amit kumar3<span class="float-right">⏬</span>
        </h2>
      </div>

      <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>

    </div>

    <div class="card">

      <div class="card-header" id="heading4" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
        <h2 class="mb-0">
            Amit kumar4<span class="float-right">⏬</span>
        </h2>
      </div>

      <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>

    </div>

    <div class="card">

      <div class="card-header" id="heading5" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
        <h2 class="mb-0">
            Amit kumar5<span class="float-right">⏬</span>
        </h2>
      </div>

      <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>

    </div>

    <div class="card">

      <div class="card-header" id="heading6" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
        <h2 class="mb-0">
            Amit kumar6<span class="float-right">⏬</span>
        </h2>
      </div>

      <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>

    </div>

    <div class="card">

      <div class="card-header" id="heading7" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
        <h2 class="mb-0">
            Amit kumar7<span class="float-right">⏬</span>
        </h2>
      </div>

      <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>

    </div>



  </div>

</div>

<div *ngIf="response == false" class="container container-not-found text-center mt-5 mb-5  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
<h1 style="font-size: 100px; margin: 50px;">😯</h1>
<h2>Your Order is empty.</h2>
</div>

