
<div class="container-fluid">
  <div class="container" >
    <div class="row" >
      <div class="col-6 text-right">
        <div class="infinite wow pulse btnpostion"><button type="button"  (click)="goback()" mat-raised-button color="primary" ><mat-icon>arrow_back</mat-icon> Back</button></div>
      </div>
      <div class="col-6 text-left">
        <div class="infinite wow pulse btnpostion"><button type="button"  (click)="gohome()" mat-raised-button color="primary" ><mat-icon>home</mat-icon> Home</button></div>
      </div>
    </div>
  </div>
</div>

